@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: #2d314d;
}

.container {
  margin: 0 auto;
  width: calc(100% - 4rem);
}
@media (min-width: 1200px) {
  .container {
    width: calc(1200px - 10rem);
  }
}
@media (min-width: 1400px) {
  .container {
    width: calc(1400px - 10rem);
  }
}

header {
  position: relative;
  z-index: 10;
  background-color: #fff;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}
header nav ul {
  display: flex;
}
header nav ul > li {
  padding: 0.5rem;
}
header nav ul a {
  padding: 0.5rem 0.5rem;
  display: block;
  color: #9698a6;
}
header nav ul a:hover {
  color: #2d314d;
}
header nav ul + a {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background: linear-gradient(90deg, #31d35c 0%, #2bb7da 100%);
  color: #fff;
}
@media (min-width: 576px) {
  header nav + a {
    display: none;
  }
}
@media (max-width: 575px) {
  header nav {
    display: none;
  }
}

section.introduce {
  background-color: #fafafa;
  text-align: center;
  position: relative;
  align-items: center;
  background-image: url("../../images/bg-intro-desktop.svg");
  padding: 10rem 0;
  background-repeat: no-repeat;
  background-position: top 0;
}
section.introduce::after {
  background-image: url(../../images/image-mockups.png);
  position: absolute;
  z-index: 5;
  height: 100vh;
  content: "";
  display: block;
  width: 100%;
  top: -20%;
  right: 0;
  background-position: 50% top;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 992px) {
  section.introduce::after {
    background-size: inherit;
    background-position: top left;
    width: 50%;
    top: -20%;
  }
}
@media (min-width: 992px) {
  section.introduce {
    background-position: left 50vw top 65%;
  }
}
@media (min-width: 992px) {
  section.introduce .container {
    text-align: left;
    display: flex;
  }
}
section.introduce .container > div {
  width: 100%;
  text-align: center;
  padding-top: 40vh;
}
@media (min-width: 992px) {
  section.introduce .container > div {
    padding-top: 0;
    width: 50%;
    text-align: left;
  }
}
section.introduce h1 {
  color: #2d314d;
  font-size: 2.5rem;
  font-weight: 100;
  padding: 2rem 0;
  padding-top: 0;
}
@media (min-width: 576px) {
  section.introduce h1 {
    font-size: 4rem;
  }
}
section.introduce p {
  font-size: 1.5rem;
  color: #9698a6;
  line-height: 2rem;
}
@media (min-width: 576px) {
  section.introduce p {
    padding-bottom: 2rem;
  }
}
section.introduce a {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background: linear-gradient(90deg, #31d35c 0%, #2bb7da 100%);
  color: #fff;
}

section.benefits {
  padding: 6rem 0;
  background-color: #f3f4f6;
}
section.benefits .container > h2 {
  font-weight: 100;
  font-size: 2.6rem;
}
section.benefits .container > p {
  padding: 1rem 0;
  font-size: 1.2rem;
  color: #9698a6;
  line-height: 2rem;
  padding-bottom: 4rem;
}
section.benefits .container > div {
  text-align: center;
}
@media (min-width: 576px) {
  section.benefits .container > div {
    display: flex;
    justify-content: space-between;
  }
}
section.benefits .benefit {
  width: 100%;
  text-align: center;
}
@media (min-width: 576px) {
  section.benefits .benefit {
    width: 23%;
    text-align: left;
  }
}
section.benefits .benefit::before {
  content: "";
  display: block;
  background-image: url("../images/icon-api.svg");
  background-repeat: no-repeat;
  height: 5rem;
  width: 5rem;
  background-position: center;
  margin: 0 auto;
}
@media (min-width: 576px) {
  section.benefits .benefit::before {
    margin: 0;
    background-position: left;
  }
}
section.benefits .benefit h3 {
  padding: 1rem 0;
  font-size: 1.5rem;
}
section.benefits .benefit p {
  padding: 1rem 0;
  font-size: 1.1rem;
  color: #9698a6;
  line-height: 2rem;
}

section.articles {
  background-color: #fafafa;
  padding: 6rem 0;
}
section.articles .container > h2 {
  font-weight: 100;
  font-size: 2.6rem;
  padding-bottom: 2rem;
}
section.articles .leads {
  display: flex;
  justify-content: space-between;
}
section.articles .leads div {
  width: 22%;
  background-color: #fff;
  padding: 1rem;
  position: relative;
}
section.articles .leads div span,
section.articles .leads div p {
  color: #9698a6;
}
section.articles .leads div h3 {
  padding: 1rem 0;
}
section.articles .leads div span {
  padding: 1rem 0;
  display: block;
}
section.articles .leads div p {
  line-height: 1.6rem;
}
section.articles .leads div img {
  position: relative;
  left: -1rem;
  top: -1rem;
  width: calc(100% + 2rem);
  height: auto;
}

footer {
  background-color: #2d314d;
  padding: 2.5rem 0;
  color: #9698a6;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
footer .about > ul:first-of-type {
  display: flex;
}
footer .about > ul:first-of-type li {
  padding: 0 0.5rem;
}
footer .about > ul:first-of-type li a {
  padding: 0.5rem 0.5rem 0 0;
}
footer .about-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}
footer .about-links ul li {
  padding: 0.5rem 0;
}
footer a {
  color: #9698a6;
}
footer .copy {
  width: 40%;
  text-align: right;
}
footer .copy span,
footer .copy a {
  display: block;
}
footer .copy a {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background: linear-gradient(90deg, #31d35c 0%, #2bb7da 100%);
  color: #fff;
}
footer .copy span {
  padding-top: 1rem;
}
/*# sourceMappingURL=style.css.map */
