// COLORS

$c_dark_blue: hsl(233, 26%, 24%);
$c_lime_green: hsl(136, 65%, 51%);
$c_bright_gyan: hsl(192, 70%, 51%);

$c_grayish_blue: hsl(233, 8%, 62%);
$c_light_grayish_blue: hsl(220, 16%, 96%);
$c_very_light_gray: hsl(0, 0%, 98%);


// Breakpoints:
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1400px
);
