@use "sass:map";
@use "sass:list";

@import 'variables';
@import 'reset';
@import 'mixins';

body{
    overflow-x: hidden;
}
h1,h2,h3 {
    color: $c_dark_blue;
}

.container{
    margin: 0 auto;
    width: calc(100% - 4rem);
    @include respond-above(lg){
        width: calc(map.get($breakpoints, lg) - 10rem);
    }
    @include respond-above(xl){
        width: calc(map.get($breakpoints, xl) - 10rem);
    }
}

header{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    position: relative;
    z-index: 10;
    background-color: #fff;
    nav{
        padding: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;
        ul{
            display: flex;
            > li{
                padding: 0.5rem; 
            }
            a{
                padding: 0.5rem 0.5rem;
                display: block;
                color: $c_grayish_blue;
                &:hover{
                    color: $c_dark_blue;
                }
            }
            & + a{
                display: inline-block;
                padding: 1rem 2rem;
                border-radius: 2rem;
                background: linear-gradient(90deg , #31d35c 0%, #2bb7da 100%);
                color: #FFF;
            }
        }
        & + a{
            @include respond-above(xs){
                display: none;
                
            }
        }
        @include respond-below(xs){
            display: none;
        }
    }
}


section.introduce{
    background-color: $c_very_light_gray;
    text-align: center;
    position: relative;
    align-items: center;
    background-image: url('../../images/bg-intro-desktop.svg');
    padding: 10rem 0;
    background-repeat: no-repeat;
    background-position: top 0;
    &::after{
        background-image: url(../../images/image-mockups.png);
        position: absolute;
        z-index: 5;
        height: 100vh;
        content: "";
        display: block;
        width: 100%;
        top: -20%;
        right: 0;
        background-position: 50% top;
        background-size: contain;
        background-repeat: no-repeat;
        @include respond-above(md){
            background-size: inherit;
            background-position: top left;
            width: 50%;
            top: -20%;
            right: -9rem;
        }
    }
    @include respond-above(md){
        background-position: left 50vw top 65%;
    }
    .container{
        @include respond-above(md){
            text-align: left;
            display: flex;
        }
        &>div{
            width: 100%;
            text-align: center;
            padding-top: 40vh;
            @include respond-above(md){
                padding-top: 0;
                width: 50%;
                text-align: left;
            }
        }
        
    }
    h1{
        color: $c_dark_blue;
        font-size: 2.5rem;
        font-weight: 100;
        padding: 2rem 0;
        padding-top: 0;
        @include respond-above(xs){
            font-size: 4rem;
        }
    }
    p{
        font-size: 1.5rem;
        color: $c_grayish_blue;
        line-height: 2rem;
        @include respond-above(xs){
            padding-bottom: 2rem;
        }
    }
    a{
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: 2rem;
        background: linear-gradient(90deg, $c_lime_green 0%, $c_bright_gyan 100%);
        color: #FFF;
    }
}

section.benefits{
    padding: 6rem 0;
    background-color: $c_light_grayish_blue;
    .container {
        & > h2{
            font-weight: 100;
            font-size: 2.6rem;
        }
        & > p{
            padding: 1rem 0;
            font-size: 1.2rem;
            color: $c_grayish_blue;
            line-height: 2rem;
            padding-bottom: 4rem;
        }
        &>div{
            text-align: center;
            @include respond-above(xs){
            display: flex;

            justify-content: space-between;
            }
        }
    }
    .benefit{
        width: 100%;
        text-align: center;
        @include respond-above(xs){
            width: 23%;
            text-align: left;
        }
        &::before{
            content: "";
            display: block;
            background-image: url('../images/icon-api.svg');
            background-repeat: no-repeat;
            height: 5rem;
            width: 5rem;
            background-position: center;
            margin: 0 auto;
            @include respond-above(xs){
                margin: 0;
                background-position: left;
            }
        }
        h3{
            padding: 1rem 0;
            font-size: 1.5rem;
        }
        p{
            padding: 1rem 0;
            font-size: 1.1rem;
            color: $c_grayish_blue;
            line-height: 2rem;
            
        }
    }
}

section.articles{
    background-color: $c_very_light_gray;
    padding: 6rem 0;
    .container{
        & > h2{
            font-weight: 100;
            font-size: 2.6rem;
            padding-bottom: 2rem;
        }
    }
    .leads{
        display: flex;
        justify-content: space-between;
        div{
            
            width: 22%;
            background-color: #FFF;
            padding:1rem;
            position: relative;
            span, p{
                color: $c_grayish_blue;
            }
            h3{
                padding: 1rem 0;
            }
            span{
             padding: 1rem 0;
             display: block;   
            }
            p{
                line-height: 1.6rem;
            }
            img{
                position: relative;
                left: -1rem;
                top: -1rem;
                width: calc(100% + 2rem);
                height: auto;
            }
            // &::before{
            //     position: absolute;
            //     content: "";
            //     display: block;
            //     width: 100%;
            //     height: 12rem;
            //     background-image: url('../images/image-currency.jpg');
            //     background-position: center;
            //     background-size: cover;
            //     top: 0;
            //     left: 0;
            // }
        }
    }
}

footer{
    background-color: $c_dark_blue;
    padding: 2rem 0;
    color: $c_grayish_blue;
    a{
        color: $c_grayish_blue;
    }
}
